---
---
@import "bootstrap";

@media (max-width: 767px) {
    #main-container {
        min-height: 200px;
    }
}
@media (min-width: 768px) {
    #main-container {
        min-height: 400px;
    }
}
.nav-tabs {
  margin-bottom: 15px;
}

.page-header {
  margin-top: 0;
}
