---
---
@import "bootstrap";

@media (max-width: 767px) {
    #main-container {
        min-height: 200px;
    }
}
@media (min-width: 768px) {
    #main-container {
        min-height: 400px;
    }
}
.nav-tabs {
  margin-bottom: 15px;
}

.page-header {
  margin-top: 0;
}

/*AM22 - To make google search box appear correct - START*/
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
{
  box-sizing: content-box;
  line-height: normal;
}
/*AM22 - To make google search box appear correct - END*/

/*AM22 - To make google search results tabs appear correct - START*/
.gsc-tabsArea div
{
  /*By default, Google custom search CSS sets it as AUTO, which shows scroll bars*/
  overflow: visible;
}
/*AM22 - To make google search results tabs appear correct - END*/

#gallery .carousel-inner .item {
  a {
    color: white;
  }
  img {
    margin: 0 auto;
  }
}

footer {
  margin-top: 1em;
}
