---
---
@import "bootstrap";

@media (max-width: 767px) {
    #main-container {
        min-height: 200px;
    }
}
@media (min-width: 768px) {
    #main-container {
        min-height: 400px;
    }
}
.nav-tabs {
  margin-bottom: 15px;
}

.page-header {
  margin-top: 0;
}

/* Option 2B: Reset an entire region with a custom Less mixin */
@mixin reset-box-sizing {
  &,
  *,
  *:before,
  *:after {
    @include box-sizing(content-box);
  }
}
.gsc-control-cse {
  @include reset-box-sizing();
}

#gallery .carousel-inner .item {
  a {
    color: white;
  }
  img {
    margin: 0 auto;
  }
}

footer {
  margin-top: 1em;
}
