<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} :: msyea</title>
    {% include stylesheets.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; url=/">
  </head>
  <body>
    {% include header.html %}
    <div id="main-container" class="container">
      <div class="jumbotron">
        <h1>HTTP/1.1 404 Page not found</h1>
        <p>Sorry we cannot find what you were looking for.</p>
        <p><a href="/" class="btn btn-primary btn-lg" role="button">Return to homepage</a></p>
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
