---
layout: naked
title: Home
---
<div class="row" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <div class="col-md-12 page-header">
    <h1>Simon Mayes<small> - Climber and Software Engineer</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="class-md-12">
    <ul class="nav nav-tabs" role="tablist">
      {% for category in site.my_categories %}
      <li role="presentation" {% if forloop.first %} class="active"{% endif %}><a href="#tab-{{ category }}" aria-controls="home" role="tab" data-toggle="tab">{{ category | capitalize }}</a></li>
      {% endfor %}
      <li role="presentation"><a href="#tab-gallery" aria-controls="home" role="tab" data-toggle="tab">Gallery</a></li>
    </ul>
    <div class="tab-content">
      {% for category in site.my_categories %}
      {% assign current = site.categories[category][0]  %}
      {% assign previous = site.categories[category][1]  %}
      <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="tab-{{ category }}">
        <p>This is the most recent post from
          <a class="label label-primary" href="/{{ category }}.html">{{ category }}</a>.
          Previous post: <a href="{{ previous.url }}">{{ previous.title }}</a>.
        </p>
          <div itemid="{{ current.id }}" itemscope itemtype="http://schema.org/BlogPosting" sameAs="{{ current.url }}">
            <h2 itemprop="headline"><a href="{{ current.url }}" itemprop="url">{{ current.title }}</a></h2>
            <p><time class="label label-default" itemprop="datePublished" datetime="{{ current.date | date_to_xmlschema }}">{{ current.date | date_to_long_string }}</time>
              {% for category in current.categories %}<a class="label label-primary" href="/{{ category }}.html" itemprop="keywords">{{ category }}</a> {% endfor %}
              {% for tag in current.tags %}<span class="label label-info" itemprop="keywords">{{ tag }}</span> {% endfor %}
            </p>
            <div itemprop="articleBody">
              {{ current.content }}
            </div>
          </div>
      </div>
      {% endfor %}
      <div role="tabpanel" class="tab-pane" id="tab-gallery">
        <p class="text-right"><a href="https://www.flickr.com/photos/msyea/" title="See my photos on Flickr!"><img src="https://s.yimg.com/pw/images/goodies/black-see-my-photos.png" width="147" height="26" alt=""></a></p>
        <div id="gallery" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators"></ol>
          <div class="carousel-inner" role="listbox"></div>

          <a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#gallery" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
