---
layout: naked
title: Links
---
<ul class="media-list">
{% for link in site.links reversed %}
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading"><a href="{{ link.link }}">{{ link.title }}</a></h4>
      <p>{% for category in link.categories %}
        <span class="label label-primary">{{ category }}</span> {% endfor %}{% for tag in link.tags %}
        <span class="label label-info">{{ tag }}</span> {% endfor %}
        <span class="label label-default">{{ link.date | date_to_long_string }}</span>
      </p>
    </div>
  </li>
{% endfor %}
</ul>
