---
layout: naked
title: Links
---
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Links</h1>
    </div>
    <p>Here's a random collection of links. There's no rhyme nor reason but there were of interest to me
      at some point.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Latest links</h2>
<ul class="media-list">
{% for link in site.links reversed %}
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading"><a href="{{ link.link }}">{{ link.title }}</a></h4>
      <p><span class="label label-default">{{ link.date | date_to_long_string }}</span>
        {% for category in link.categories %}<a class="label label-primary" href="/{{ category }}.html">{{ category }}</a> {% endfor %}
        {% for tag in link.tags %}<span class="label label-info">{{ tag }}</span> {% endfor %}<a href="{{ link.link }}">{{ link.link }}</a>
      </p>
    </div>
  </li>
{% endfor %}
</ul>
  </div>
</div>
