---
layout: naked
title: Technology
---
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Technology <small>and other such noise</small></h1>
    </div>
    <p>I'm a software engineering by trade, specialising in node.js and backend technology. That will be my focus
      but I also run the business, so I might post some business chat too.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Latest blog posts</h2>
{% for post in site.categories["technology"] %}
  <div class="media technology" itemid="{{ post.id }}" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="media-body">
      <h2 class="media-heading" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
      <p><time class="label label-default" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
        {% for category in post.categories %}<a class="label label-primary" href="/{{ category }}.html">{{ category }}</a> {% endfor %}
        {% for tag in post.tags %}<span class="label label-info" itemprop="keywords">{{ tag }}</span> {% endfor %}
      </p>
      <div itemprop="description">{{ post.excerpt }}</div>
    </div>
  </div>
{% endfor %}
  </div>
</div>
