---
title: Trips
---
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Posts</li>
</ol>
<div class="list-group">
  {% for post in site.posts %}
    <a href="{{ post.url }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ post.title }}</h4>
      <p class="list-group-item-text">{% for category in post.categories %}<span class="label label-default">{{ category }}</span> {% endfor %}{% for tag in post.tags %}<span class="label label-info">{{ tag }}</span> {% endfor %}</p>
    </a>
  {% endfor %}
</div>
