<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
      this.page.url = "{{ site.url }}{{ post.url }}";
      this.page.identifier = "{{ post.id }}";
      this.page.title = "{{ post.title }}";
      this.page.category_id = "{% for category in post.categories limit:1 %}{{ category }}{% endfor %}"
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://msyea.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>