<footer itemscope itemtype="http://schema.org/WPFooter">
  <div class="container">
    <p class="text-center text-muted">&copy; <a href="{{ site.url }}">Simon Mayes</a> 2002 - {{site.time | date: '%Y' }}. All Rights Reserved.<br><a class="btn btn-default btn-xs" href="https://documation.io"><span class="glyphicon glyphicon-folder-close"></span> documation.io</a> <a href="https://twitter.com/msyea" class="twitter-follow-button" data-show-count="false">Follow @msyea</a> <iframe id="gh-follow" src="https://ghbtns.com/github-btn.html?user=msyea&type=follow"></iframe></p>
  </div>
</footer>
