<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% capture description %}{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | newline_to_br | replace: '<br />', ' ' | strip_html | strip_newlines | strip }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{% if page.category %}{{ page.category }}, {% endif %}{% for tag in page.tags %}{{ tag }}, {% endfor %}{{ site.keywords}}">
{% if false %}
<meta property="og:title" content="Simon Mayes" />
<meta property="og:type" content="profile" />
<meta property="og:image" content="https://farm6.staticflickr.com/5666/23908515981_fde6efdf09_b.jpg" />
<meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:locale" content="en_GB" />
<meta property="profile:first_name" content="Simon" />
<meta property="profile:gender" content="male" />
<meta property="profile:last_name" content="Mayes" />
<meta property="profile_username" content="msyea" />
{% else %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="{% if page.id %}article{% else %}website{% endif %}" />
<meta property="og:description" content="{{ description }}" />
{% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
<meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:locale" content="en_GB" />
{% if page.id %}
{% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />{% endif %}
<meta property="article:author:first_name" content="Simon" />
<meta property="article:author:last_name" content="Mayes" />
<meta property="article:author:username" content="msyea" />
<meta property="article:author:gender" content="male" />
{% if page.category %}<meta property="article:section" content="{{ page.category }}" />{% endif %}
{% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}" />
{% endfor %}
{% endif %}
{% endif %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@msyea" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ description }}" />
{% if page.image %}<meta name="twitter:image" content="{{ page.image }}" />{% endif %}
{% unless page.sitemap %}<meta name="robots" content="noindex">{% endunless %}
