<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} &mdash; Because it&#39;s</title>
    {% include css.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% include header.html %}
    <div id="main-container" class="container">
    {% if page.categories %}
      <ol class="breadcrumb">
        {% for category in page.categories %}<li><a href="/{{ category }}">{{ category }}</a></li>{% endfor %}
        <li class="active">{{ page.title }}</li>
      </ol>
      {% endif %}
      <div class="row">
        <div class="col-md-12 page-header">
          <h1>{{ page.title }}</h1>
          <p>{% for category in page.categories %}
            <span class="label label-primary">{{ category }}</span> {% endfor %}{% for tag in page.tags %}
            <span class="label label-info">{{ tag }}</span> {% endfor %}
            <span class="label label-default">{{ page.date }}</span>
          </p>
        </div>
      </div>
      {{ content }}
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
