<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
  <head>
    <title>{{ page.title }} - {{ site.name }}</title>
    {% include meta.html %}
    {% include css.html %}
  </head>
  <body itemscope itemtype="{% if page.id %}http://schema.org/Blog{% else %}http://schema.org/WebPage{% endif %}">
    {% include header.html %}
    <div id="main-container" class="container">
      {% if page.categories %}
      <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% assign breadcrumbs = 1 %}
        {% for category in page.categories %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="/{{ category }}.html" itemprop="item"><span itemprop="name">{{ category }}</span></a>
          <meta itemprop="position" content="{{ breadcrumbs }}" />
        </li>
        {% assign breadcrumbs = breadcrumbs | plus: 1 %}
        {% endfor %}
        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="item"><span itemprop="name">{{ page.title }}</span></span>
          <meta itemprop="position" content="{{ breadcrumbs }}" />
        </li>
      </ol>
      {% endif %}
      <div itemid="{{ site.github.url }}{{ page.url }}" {% if page.id %}itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"{% else %}itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement"{% endif %}>
        <div class="row">
          <div class="col-md-12 page-header">
            <h1 itemprop="name">{{ page.title }}</h1>
            <meta itemprop="mainEntityOfPage" content="{{ site.github.url }}{{ page.url }}" />
            <meta itemprop="headline" content="{{ page.excerpt | newline_to_br | replace: '<br />', ' ' | strip_html | strip_newlines | strip | truncatewords:20 }}" />
            {% if page.image %}<div class="hidden" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
              <img itemprop="url" src="{{ page.image }}" alt="{{ page.title }}" />
            </div>{% endif %}
            <p>{% if page.date %}<time class="label label-default" itemprop="datePublished dateModified" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>{% endif %}
              {% for category in page.categories %}<span class="label label-primary" itemprop="keywords">{{ category }}</span> {% endfor %}
              {% for tag in page.tags %}<span class="label label-info" itemprop="keywords">{{ tag }}</span> {% endfor %}
              <span itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
              by <a itemprop="name" href="{{ site.github.url }}">Simon Mayes</a> (<a href="https://twitter.com/msyea">@msyea</a>)
              </span>
            </p>
          </div>
        </div>
        {% if page.id %}
        <div itemprop="articleBody">
          {{ content }}
        </div>
        {% else %}
          {{ content }}
        {% endif %}
        {% if page.album %}
        <p class="text-right"><a href="https://www.flickr.com/photos/msyea/albums/{{ page.album }}" title="See my photos on Flickr!"><img src="https://s.yimg.com/pw/images/goodies/black-see-my-photos.png" width="147" height="26" alt=""></a></p>
        <div id="gallery" class="carousel slide" data-ride="carousel" data-id="{{ page.album }}">
          <ol class="carousel-indicators"></ol>
          <div class="carousel-inner" role="listbox"></div>

          <a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#gallery" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
